body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin : 0;
}


@font-face {
  font-family: Coffee;
  src: url('./assets/fonts/Sweety.ttf');
}


@font-face {
  font-family: Barlow-light;
  src: url('./assets/fonts/Barlow-Light.ttf');
}


@font-face {
  font-family: Bagrile;
  src: url('./assets/fonts/Bagrile.otf');
}
